.easter-egg {
	.spiral-piece,
	.share-easter-egg {
		animation: 2s ease-in-out 0s infinite alternate rainbow-background;
	}
}

.easter-egg-announcement {
	display:    block;
	opacity:    0;
	overflow:   hidden;
	max-height: 0;
	position:   fixed;
	top:        0;
	right:      0;
	
	transition: max-height 0s, opacity 0.5s ease-out;
	
	&.show { 
		margin-left: -12em;
		max-height:  100%;
		opacity:     1;
		top:         25%;
		left:        50%;
		
		animation: 0.25s ease-in-out 0s 4 alternate pulsate;
	}
	
	h3 {
		animation: 2s ease-in-out 0s infinite alternate rainbow-color;
	}
}

@keyframes rainbow-background {
	0%   { fill: hsl(240, 34%, 55%); background-color: hsl(240, 34%, 55%); }
	25%  { fill: hsl(168, 34%, 55%); background-color: hsl(168, 34%, 55%); }
	50%  { fill: hsl(96, 34%, 55%);  background-color: hsl(96, 34%, 55%);  }
	75%  { fill: hsl(24, 34%, 55%);  background-color: hsl(24, 34%, 55%);  }
	100% { fill: hsl(326, 34%, 55%); background-color: hsl(326, 34%, 55%); }
}

@keyframes rainbow-color {
	0%   { color: hsl(240, 34%, 55%); }
	25%  { color: hsl(168, 34%, 55%); }
	50%  { color: hsl(96, 34%, 55%);  }
	75%  { color: hsl(24, 34%, 55%);  }
	100% { color: hsl(326, 34%, 55%); }
}

@keyframes pulsate {
	from { transform: scale(1);   }
	to   { transform: scale(1.05); }
}