#base,
#volume-control {
    display:  block;
    margin:   30px 0 30px 30px;
    position: relative;
    
    &::before {
        background-position: center center;
        background-repeat:   no-repeat;
        content:             "";
        width:               20px;
        height:              20px;
        position:            absolute;
        top:                 -7px;
        left:                -30px;
    }
}

#base {
    &::after {
        content:  attr(data-frequency);
        position: absolute;
        top:      -15px;
        right:    0px;
    }
    
    ::before {
        background-image: url("ico-base.svg");
    }
}

#volume-control {
    &::before {
        background-image: url("ico-sound.svg");
    }
}

#options {
    background-color: rgba(64, 64, 64, 0.1);
    box-sizing:       border-box;
    padding:          20px;
    z-index:          3;
    width:            240px;
    height:           240px;
    position:         absolute;
}

.options-buttons {
    border-top: 1px solid #4E4E4E;
    margin-top: 20px;
    padding:    20px 0;
}

a.option-button {
    background:      no-repeat center center #666;
    background-size: 60%;
    border-radius:   20px;
    display:         inline-block;
    margin-right:    10px;
    text-decoration: none;
    width:           35px;
    height:          35px;
    position:        relative;
    
    &::after {
        background:    rgba(80, 80, 80, 0.5);
        border-radius: 5px;
        box-shadow:    0 0 5px #1D1C1C;
        color:         #fff;
        display:       none;
        font-size:     10px;
        font-weight:   bold;
        line-height:   10px;
        padding:       5px;
        white-space:   nowrap;
        position:      absolute;
        bottom:        -25px;
    }
    
    &:hover::after { display: inline-block; }
}

a#group-notes {
    background-image: url("ico-link-broken.svg");
    
    &::after { content: "Group notes"; }
    
    &:not(.off) {
        background-color: #d4d4d4;
        background-image: url("ico-link.svg");
        
        &::after { content: "Ungroup notes"; }
    }
}

a#reduce-to-octave {
    background-image: url("ico-octave-reduction.svg");
    
    &::after { content: "Reduce to octave"; }
    
    &:not(.off) {
        background-color: #d4d4d4;
    }
}