a#sequence-next,
a#sequence-prev {
	&:active {
		background-color: #d4d4d4;
	}
}

#base-wrapper,
#volume-control-wrapper {
	display:  block;
	margin:   30px 0 30px 30px;
	position: relative;
	
	&::before {
	background-position: center center;
	background-repeat:   no-repeat;
	content:             "";
	width:               20px;
	height:              20px;
	position:            absolute;
	top:                 2px;
	left:                -30px;
	}
}

#base-wrapper {
	&::before {
	background-image: url("../images/ico-base.svg");
	}
}

#base-detail {
	background: transparent;
	border:     0;
	color:      #909090;
	text-align: right;
	
	-moz-appearance: textfield;
	
	&::-webkit-inner-spin-button { display: none; }
}

#base-detail-wrapper {
	color:     #909090;
	font-size: 11px;
	position:  absolute;
	top:       -10px;
	right:     0;
}

#options {
	background-color: rgba(64, 64, 64, 0.1);
	box-sizing:       border-box;
	padding:          20px;
	z-index:          3;
	width:            240px;
	position:         absolute;
}

#play-panel {
	border:        1px solid #2b2b2b;
	border-radius: 5px;
	font-size:     0;
	padding:       20px 5px;
	opacity:       0;
	text-align:    center;
	z-index:       3;
	width:         40px;
	position:      absolute;
	bottom:        75px;
	left:          20px;
	
	transition:    opacity 0.2s ease-in-out;
	
	&.visible {
		opacity:   1;
	}
	
	.options-button {
		&:hover {
			background-color: #d4d4d4;
		}
	}
	
	.panel {
		background-color: rgba(64, 64, 64, 0.1);
		padding:          20px;
		opacity:          0;
		text-align:       center;
		width:            170px;
		position:         absolute;
		bottom:           0;
		left:             55px;
		z-index:          -1;
		
		transform:        translateX(-100px);
		transition:       transform 0.25s cubic-bezier(1, 0, 1, 0),
			              opacity 0.25s ease-in-out;
		
		&.visible {
			opacity:   1;
			transform: translate(0);
			z-index:   3;
			
			transition: transform 0.25s cubic-bezier(0, 1, 0, 1),
			            opacity 0.25s ease-in-out;
			
		}
	}
}

#sequence-speed {
	width: 100%;
}

#sequence-speed-wrapper {
	padding: 0 0 20px 20px;
	position: relative;
	
	&::before {
		background-image:    url("../images/ico-speed.svg");
		background-position: center;
		background-repeat:   no-repeat;
		background-size:     contain;
		content:             "";
		display:             block;
		width:               20px;
		height:              20px;
		position:            absolute;
		top:                 -2px;
		left:                -10px;
	}
}

#settings-button {
	background-image:    url(../images/ico-settings.svg);
	background-position: center;
	background-repeat:   no-repeat;
	background-size:     cover;
	border-radius:       5px;
	display:             inline-block;
	margin:              0 0 10px;
	opacity:             0.3;
	padding:             2px;
	width:               20px;
	height:              20px;
	
	&:hover,
	&.is-active {
		opacity: 0.8;
	}
}

#volume-control-wrapper {
	&::before {
	background-image: url("../images/ico-sound.svg");
	}
}

.options-buttons {
	border-top: 1px solid #4E4E4E;
	margin-top: 20px;
	padding:    20px 0;
}

a.option-button {
	@include has-tooltip();
	
	background:      no-repeat center center #666;
	background-size: 60%;
	border-radius:   20px;
	display:         inline-block;
	margin-right:    10px;
	text-decoration: none;
	width:           35px;
	height:          35px;
	position:        relative;
	
	&:not(.off) { background-color: #d4d4d4; }
}

a#group-notes {
	background-image: url("../images/ico-link-broken.svg");
	
	&::after { content: "Group notes"; }
	
	&:not(.off) {
	background-image: url("../images/ico-link.svg");
	
	&::after { content: "Ungroup notes"; }
	}
}

a#play-sequence {
	background-image: url("../images/ico-play.svg");
	margin: 0;
	
	&::after {
		content: "Play recorded sequence";
		top:     -25px;
		bottom:  auto;
	}
}

a#record {
	&.off {
		&::after  { content: "Record sequence"; }
		&::before { background-color: #222; }
	}
	
	&::after { content: "Stop recording"; }
	
	&::before {
		background-color: firebrick;
		border-radius:    10px;
		content:          "";
		display:          block;
		width:            15px;
		height:           15px;
		position:         absolute;
		top:              10px;
		left:             10px;
	}
}

a#reduce-to-octave {
	background-image: url("../images/ico-octave-reduction.svg");
	
	&::after { content: "Reduce to octave"; }
}

a#sequence-next {
	background-image: url("../images/ico-skip-forward.svg");
	
	&::after { 
		content: "Forward one step";
		left:    0;
	}
}

a#sequence-prev {
	background-image: url("../images/ico-skip-backwards.svg");
	
	&::after { 
		content: "Back one step";
		right:   0;
	}
}

a#sustain {
	background-image: url("../images/ico-sustain.svg");
	
	&::after { content: "Sustain notes"; }
}
