<div class="easter-egg-announcement shepherd-element shepherd-has-cancel-link shepherd-has-title">
	<div class="shepherd-content">
		<header>
			<h3 class="shepherd-title" data-translation-key="TITLE.easter_egg">You&apos;ve found the secret rainbow!</h3>
			<a href="#" class="shepherd-cancel-link">✕</a>
		</header>
		<div class="shepherd-text">
			<p>
				<strong data-translation-key="SUBTITLE.easter_egg">Sorry! No pot of gold. But it&apos;s the journey that counts, no?</strong>
			</p>
			<p data-translation-key="TEXT.easter_egg">Why don&apos;t you share your love for the Overtones world with your friends and see if they can also find the rainbow?</p>
		</div>
		<footer>
			<ul class="shepherd-buttons">
				<li><a class="shepherd-button btn share-easter-egg" data-translation-key="Share">Share</a></li>
			</ul>
		</footer>
	</div>
</div>