<div id="fb-root"></div>
<div class="fb-share-button" 
    data-href="http://www.suonoterapia.org/overtones" 
    data-layout="button">
</div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=895291693921891";
    fjs.parentNode.insertBefore(js, fjs);
    
    js.onload = function() { console.log('Facebook ok'); };
}(document, 'script', 'facebook-jssdk'));</script>