<aside id="faq-panel">
  <ul>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.EXPLAIN">Okay, all of this is very fun, but can you explain in simple words what this actually means?</span></h1>
        <div class="question-content" data-translation-key="CONTENT.guide.EXPLAIN">
          <p>In a nutshell, and mind you this is simplified: most sounds in nature are actually made up of a plethora of smaller, simpler components, called <em>partials</em>.</p>
          <p>Generally, we tend to hear the lowest of this partials as the <em>fundamental tone</em> of the sound (that's the circle in the middle), while the rest create the particular <em>color</em> (or <em><a href="//en.wikipedia.org/wiki/Timbre" target="_blank">timbre</a></em>) of the sound.</p>
          <p>The particular arrangement of these partial sounds, is therefore how we can distinguish the same note played on two different instruments.</p>
          <p>In most sounds that we consider <em>musical</em>&#xFEFF;&mdash;such as the sound of a plucked string on a guitar&#xFEFF;&mdash;these partial sounds are in a specific, simple, mathematical relationship with one another.</p>
          <p>When this happens, they are called <em>harmonics</em>, and that's what you see depicted here.</p>
        </div>
      </article>
    </li>
    <li class="questions" data-hide-lang="it">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.OVERTONES">What are <em>overtones</em>, then?</span></h1>
        <div class="question-content" data-translation-key="CONTENT.guide.OVERTONES">
          <p><em>Overtones</em> is just the name for any partial above the fundamental one.</p>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.VOICE">Are the overtones in my voice harmonics?</span></h1>
        <div class="question-content">
          <div data-translation-key="CONTENT.guide.VOICE">
          	<p>Absolutely! In fact, depending on how you shape your vocal tract, you can change which harmonics are louder and which are quieter.</p>
          	<p>Some techniques&#xFEFF;&mdash;collectively called <em><a href="//en.wikipedia.org/wiki/Overtone_singing" target="_blank">Overtone singing</a></em>&#xFEFF;&mdash;exploit this fact to create beautiful music. This is very prominent in some cultures like the <a href="https://www.youtube.com/watch?v=RxK4pQgVvfg" title="Traditional Tuvan band Huun Huur Tu demonstrate Sygyt Throat singing style">Tuvan one</a>, but is becoming <a href="https://www.youtube.com/watch?v=sQkA3__50aE" title="Nory Jacoby talks about his composition for Polyphonic Overtone singing">more common</a> in <a href="https://www.youtube.com/watch?v=s4BJ3wng6Mk" title="Supersonus performing Ritus, featuring Anna-Maria Hefele polyphonic overtone singing">the west too</a>!</p>
          	<p>Certain instruments, such as the <a href="https://en.wikipedia.org/wiki/Jew%27s_harp">jew's harp</a> and the <a href="https://en.wikipedia.org/wiki/Didgeridoo">didgeridoo</a> also create music controlled through the overtones in your vocal tract.</p>
          	<p>Did you know that this is, in fact, the way we can distinguish a vowel from another in language? Each vowel has a particular overtone composition.</p>
          </div>
          <section class="try" data-translation-key="TRY.guide.VOICE">
          	<p>Try this: activate the microphone button on the top left, sing a sustained, somewhat nasal, note on a <em>&#8220;oo&#8221;</em> sound, and then switch to a <em>&#8220;ee&#8221;</em> sound, you should see different overtones being highlighted in the spiral.</p>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.INTERVAL">What does <em>interval</em> mean?</span></h1>
        <div class="question-content">
          <div data-translation-key="CONTENT.guide.INTERVAL">
          	<p>An <em>interval</em> is the mathematical and harmonic relationship between two notes.</p>
          	<p>We give them names&#xFEFF;&mdash;such as <em>Octave</em>, <em>Fifth</em> etc.&#xFEFF;&mdash;so it's easier to speak about them.</p>
          	<p>Generally, an interval sounds more pleasing to our ear the simpler the mathematical ratio connecting the two sounds.</p>
          </div>
          <section class="try" data-translation-key="TRY.guide.INTERVAL">
          	<p>You can try that yourself by clicking on the purple spiral pieces connecting the circles: you'll notice that the lower connections will sound more pleasing than the higher ones.</p>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.WHY_HARMONY">Neat! Why is that?</span></h1>
        <div class="question-content">
          <div data-translation-key="CONTENT.guide.WHY_HARMONY">
          	<p>Mainly for two reasons:</p>
          	<p>First, our brain needs to do less processing when two notes have a simpler ratio relationship between each other, because their cycles <em>come together</em> more often. I.e. a sound that vibrates at half the speed of another, has one peak every exactly two peaks of the other.</p>
          	<p>But, perhaps, this is the topic for a different visualization.</p>
          	<p>Secondly, the simpler the relationship between two sounds, the more overtones they will have in common.</p>
          </div>
          <section class="try" data-translation-key="TRY.guide.WHY_HARMONY">
          	<p>You can try this: play one note, for example 220 Hz (you can press <kbd>z</kbd> on your keyboard to do that) and explore a few overtones and their frequencies. Then change the fundamental frequency to 440 Hz  with the control on the top left (or, you can press <kbd>&#x21E7; Shift</kbd> + <kbd>z</kbd>).</p>
          	<p>You will notice that it is as if we moved all the overtones one spiral revolution down: what was the second is now the first, and what was the sixth is now the third.</p>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.PITCH_CLASS">Why do all circles on the same orange axis have the same name?</span></h1>
        <div class="question-content" data-translation-key="CONTENT.guide.PITCH_CLASS">
          <p>Those overtones are all in an <em>Octave</em> relationship with each other (i.e. two to one): for the reasons explained above, that makes it the most harmonious relationship possible (pretty much cross-culturally universal in human experience).</p>
          <p>It is actually so harmonious that we perceive those sounds as being <em>essentially</em> the same.</p>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.ET">I tried reading the linked Wikipedia article, but I still didn't understand what <em>12 Tone Equal Temperament</em> is, and how it relates to all of this.</span></h1>
        <div class="question-content" data-translation-key="CONTENT.guide.ET">
          <p>Alright, this is a complicated question, but I'll try to boil it down.</p>
          <p>Remember when we said that simpler ratios sound more harmonious? Turns out that <em>actually using them</em> to make music, is not so simple.</p>
          <p>This is not the place to get into the details of it, but since, as we know, the circle repeats the same at every Octave (i.e. every multiple of two), we have to figure out a way to divide the space between one (tonic) and two (octave) into harmonious steps that we can use to make music.</p>
          <p>However, we do not only want the relationship between those sounds and the tonic to be harmonious, we also want them to be harmonious to each other. And, ideally, in Western music, we also want to take any of those sounds and make it the tonic (i.e. the center of our musical piece).</p>
          <p>Oh! And we also want instruments that are really impractical (or impossible) to retune on the fly: such as the piano, the organ or even just a flute.</p>
          <p>To satisfy all these requirements is mathematically impossible (trust me!), and has been the crux of composers, musicians and instrument builders for centuries, and <a href="https://en.wikipedia.org/wiki/Musical_temperament">many systems with different compromises have been devised</a>.</p>
          <p>At some point, in the West (actually the Chinese came first, but that's a story for another time&hellip;), we decided to compromise this way: take the octave and divide it into twelve equal pieces; <em>tada!</em> Now all the relationships between the notes are equal!</p>
          <p><em>&#8220;But wait!&#8221;</em> I hear you say <em>&#8220;Doesn't this mean that no note is in a simple harmonious relationship with another anymore?&#8221;</em></p>
          <p>Yep.</p>
          <p>But we decided it was good enough, and that if we start stacking a lot of notes on top of each other and make a huge noise, we hoped that no one would notice!</p>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.OUT_TUNE">Wait, are you implying that everything is out of tune?</span></h1>
        <div class="question-content">
          <p data-translation-key="CONTENT.guide.OUT_TUNE">Yea. Well, everything except the octave. And the fifth is pretty good too!</p>
          <section class="try" data-translation-key="TRY.guide.OUT_TUNE">
          	<p>You can see by how much each of our Western notes are out of tune in the box that appears on the right when you click on a circle. It's the number at the bottom, expressed in <a href="https://en.wikipedia.org/wiki/Cent_(music)">cents</a>.</p>
          	<p>You can click on the box to hear how the note sounds in our Western tuning.</p>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.DIFFERENCE">Okay, come on, I clicked the box, and it really didn't sound so different. Is that such a big deal?</span></h1>
        <div class="question-content">
		  <div data-translation-key="CONTENT.guide.DIFFERENCE">
			  <p>Well&hellip; arguably.</p>
			  <p>Actually, I'm going to be opinionated on this: yes, it is. Perfect harmonies have a magic and power and color that the tempered ones cannot ever hope to achieve.</p>
			  <p>Furthermore, when all the tones are <em>created equal</em>, you lose beautiful differences in character that can completely change the mood of a piece. That is, for example, what <a href="https://en.wikipedia.org/wiki/Indian_classical_music">Indian classical music</a> does right.</p>
		  </div>
          <section class="try" data-translation-key="TRY.guide.DIFFERENCE">
          	<p>Also, if you are not convinced that the difference can be heard, try this: activate the &#8220;Reduce to Octave&#8221; and &#8220;Sustain&#8221; options (second and third from the left on the options panel) and press on the seventh partial. Now click on the box for as long as you want.</p>
          	<p>Did you hear that?! Wow, nasty!</p>
          	<p>What you just heard is called <a href="https://en.wikipedia.org/wiki/Beat_(acoustics)">beating</a>, and that's what happens when two notes are close, but not actually overlapping.</p>
          	<p>Can you imagine all the beating between the overtones?</p>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.RESOURCES">All of this is very cool, is there more to know?</span></h1>
        <div class="question-content">
          <p data-translation-key="CONTENT.guide.RESOURCES">We just barely scratched the surface. Here are some resources you can pick up to get more into it.</p>
          <section class="recommended-books">
          	<h2 data-translation-key="Books">Books</h2>
          	<ul>
          		<li>
          			Daniélou A.,
          			<a href="http://a-fwd.to/2ZRXbtr" target="_blank">
          				Music and the Power of Sound: The influence of tuning and interval on consciousness
          			</a>,
          			Inner Traditions International (Rochester, 1995)
          			<span class="book-languages">
          				[EN]
          			</span>
          		</li>
          		<li data-hide-lang="en hu" target="_blank">
          			Frova A.,
          			<a href="http://a-fwd.to/1cirtk3">
          				Armonia Celeste e Dodecafonia: musica e scienza attraverso i secoli
          			</a>,
          			BUR (Milano, 2006)
          			<span class="book-languages">
          				[IT]
          			</span>
          		</li>
          		<li>
          			Helmholtz H. L. F.,
          			<a href="http://a-fwd.to/2DYncSq" target="_blank">
          				On the Sensation of Tone as Physiological Basis for the Theory of Music
          			</a>,
          			 Longmans, Green (London, 1885)
          			 <span class="book-languages">
          				[EN] [ES] [DE]
          			</span>
          		</li>
          		<li data-hide-lang="en hu">
          			Laneri R.,
          			<a href="http://a-fwd.to/4CrFEBe" target="_blank">
          				La Voce dell’Arcobaleno: Origini, tecniche ed applicazioni del canto armonico
          			</a>,
          			Il Punto d’Incontro (Vicenza, 2002)
          			<span class="book-languages">
          				[IT]
          			</span>
          		</li>
          		<li>
          			Levarie S., Levy E.,
          			<a href="http://a-fwd.to/25E2vWF" target="_blank">
          				Tone: a study in musical acoustics
          			</a>,
          			Kent State University Press (Kent, 1968)
          			<span class="book-languages">
          				[EN]
          			</span>
          		</li>
          		<li>
          			Roederer J. G.,
          			<a href="http://a-fwd.to/3q9F8Cl" target="_blank">
          				The Physics and Psychophysics of Music: An Introduction
          			</a>,
          			Springer-Verlag (New York, 1995)
          			<span class="book-languages">
          				[EN] [ES] [DE]
          			</span>
          		</li>
          		<li>
          			Thompson W. F.,
          			<a href="http://a-fwd.to/4K3LJoO" target="_blank">
          				Music, Thought and Feeling: Understanding the Psychology of Music
          			</a>,
          			Oxford University Press (Oxford, 2008)
          			<span class="book-languages">
          				[EN]
          			</span>
          		</li>
          	</ul>
          </section>
          <section class="recommended-music">
          	<h2 data-translation-key="Music">Music</h2>
          	<ul>
          		<li>
          			<span class="music-link-wrapper">
						Angelite, Moscow Art Trio, Huun-Huur-Tu,
						<a href="https://geo.itunes.apple.com/us/album/fly-fly-my-sadness/id346775229?app=itunes" target="_blank">Fly, Fly My Sadness</a>
						(1997)
          			</span>
          			<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/fly-fly-my-sadness/id346775229?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
          				<a href="https://open.spotify.com/album/4rnVgB0UfOzTgjZMpmDO31" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          		<li>
          			<span class="music-link-wrapper">
						Anna-Maria Hefele, Kammerchor I Vocalisti &amp; Hans-Joachim Lustig,
						<a href="https://geo.itunes.apple.com/us/album/cantate-domino-canticum-novum/id1172569772?app=itunes" target="_blank">Cantate Domino Canticum Novum</a>
						(2016)
					</span>
					<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/cantate-domino-canticum-novum/id1172569772?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
          				<a href="https://open.spotify.com/album/17wsKDjxPM6dR4wOUdxxTV" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          		<li>
          			<span class="music-link-wrapper">
						David Hykes &amp; the Harmonic Choir,
          				<a href="https://geo.itunes.apple.com/us/album/hearing-solar-winds/id370855586?app=itunes" target="_blank">Hearing Solar Winds</a>
          				(1983)
					</span>
          			<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/hearing-solar-winds/id370855586?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
          				<a href="https://open.spotify.com/album/3BcgvSV3DNti235VxeeRs7" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          		<li>
          			<span class="music-link-wrapper">
						Demetrio Stratos,
          				<a href="https://geo.itunes.apple.com/us/album/metrodora/id1037774165?app=itunes" target="_blank">Metrodora</a>
          				(1976)
					</span>
          			<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/metrodora/id1037774165?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
          				<a href="https://open.spotify.com/album/6ZbtMMnkyevbC46sEBxBEV" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          		<li>
					<span class="music-link-wrapper">
          				Michael Harrison,
          				<a href="https://geo.itunes.apple.com/us/album/from-ancient-worlds-for-harmonic-piano/id78645227?app=itunes" target="_blank">From Ancient Worlds - For Harmonic Piano</a>
          				(1992)
					</span>
					<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/from-ancient-worlds-for-harmonic-piano/id78645227?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
          				<a href="https://open.spotify.com/album/2vhjv7S4FdLbeorw4DoQ2Z" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          		<li>
					<span class="music-link-wrapper">
          				Rimundu Congiu,
          				<a href="https://geo.itunes.apple.com/us/album/sardegna-oliena-in-ammentu-de-antoni-mereu-canto-a-tenore/id364777467?app=itunes" target="_blank">Sardegna: Oliena - In ammentu de Antoni Mereu (Canto a tenore)</a>
          				(2001)
					</span>
					<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/sardegna-oliena-in-ammentu-de-antoni-mereu-canto-a-tenore/id364777467?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
					</span>
          		</li>
          		<li>
          			<span class="music-link-wrapper">
          				Utsav Lal,
          				<a href="https://geo.itunes.apple.com/us/album/the-fluid-piano/id1126100184?app=itunes" target="_blank">The Fluid Piano</a>
          				(2016)
					</span>
         			<span class="music-services-wrapper">
          				<a href="https://geo.itunes.apple.com/us/album/the-fluid-piano/id1126100184?mt=1&app=music" class="apple-music-link">Listen on Apple Music</a>
					</span>
          		</li>
          		<li>
					<span class="music-link-wrapper">
						Wolfgang Saus, Michael Reimann,
						<a href="https://www.oberton.org/portfolio-item/wolfgang-saus-harmoniversum/" target="_blank">Harmoniversum</a>
						(2012)
					</span>
          			<span class="music-services-wrapper">
          				<a href="https://open.spotify.com/album/4aYoPeUNyrf8juekbCvRiv" class="spotify-link">Listen on Spotify</a>
					</span>
          		</li>
          	</ul>
          </section>
          <section class="recommended-online">
          	<h2 data-translation-key="Online">Online</h2>
			<ul>
				<li>
					<a href="https://www.youtube.com/channel/UCeQCa6v6qVkseKhgq5q-nzQ" target="_blank">Anna-Maria Hefele's YouTube channel</a>
				</li>
				<li>
					<a href="//detspringendepunkt.blogspot.com/" target="_blank">Det Springende Punkt</a>
				</li>
				<li>
					<a href="http://www.kylegann.com/index.html" target="_blank">Kyle Gann's Homepage</a>
				</li>
				<li>
					<a href="http://the-monochord.rhcloud.com/" target="_blank">Monochord microtonal sandbox</a>
				</li>
				<li>
					<a href="//www.oberton.org/" target="_blank">Oberton.org</a>
				</li>
				<li>
					<a href="https://www.youtube.com/user/radltom" target="_blank">Thomas Radlwimmer's YouTube channel</a>
				</li>
				<li>
					<a href="https://www.youtube.com/user/skyelof" target="_blank">Skye Løfvander's YouTube channel</a>
				</li>
				<li>
					<a href="https://soundcloud.com/skyelof" target="_blank">Skye Løfvander on SoundCloud</a>
				</li>
				<li>
					<a href="https://soundcloud.com/overtonesinging" target="_blank">Wolfgang Saus on SoundCloud</a>
				</li>
				<li>
					<a href="http://xenharmonic.wikispaces.com/" target="_blank">Xenharmonic Wiki</a>
				</li>
			</ul>
          </section>
        </div>
      </article>
    </li>
    <li class="questions">
      <article class="question">
        <h1 class="question-header" data-toggle="& + .question-content"><span data-translation-key="HEADER.guide.MORE">Are there more of these? What can I do to show my support?</span></h1>
        <div class="question-content" data-translation-key="CONTENT.guide.MORE">
          <p>Well, for one thing, you can <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.suonoterapia.org/overtones" target="_blank">share this with your friends</a> on your favorite channel.</p>
          <p>We're definitely going to make more of this if there is enough interest. There is much to know and a big space for tools to understand, explore and teach. <a href="https://facebook.com/suonoterapia" target="_blank">Follow us on Facebook</a> to stay updated with new things like this.</p>
          <p>If you want to give some financial support for the hundreds of hours that go into making these kind of freely available tools, you can <a href="https://paypal.me/sunyatasattva" target="_blank">donate to our cause</a>. Every <em>cent</em> counts (pun intended)!</p>
        </div>
      </article>
    </li>
  </ul>
</aside>