<div id="keyboard-container">
	<ul id="keyboard">
		<li class="key white" data-key="z"></li>
		<li class="key black" data-key="s"></li>
		<li class="key white" data-key="x"></li>
		<li class="key white" data-key="c"></li>
		<li class="key black" data-key="f"></li>
		<li class="key white" data-key="v"></li>
		<li class="key black" data-key="g"></li>
		<li class="key white" data-key="b"></li>
		<li class="key white" data-key="n"></li>
		<li class="key black" data-key="j"></li>
		<li class="key white" data-key="m"></li>
		<li class="key black" data-key="k"></li>
		<li class="key white" data-key=","></li>
	</ul>
</div>